

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 249, 247);
  display: flex;
  justify-content: center;
  font-family: "Playfair", serif;
}

.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

.button-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.button-container button {
  margin: 5px;
  padding: 11px;
  font-size: 14px;
  border-radius: 12px;
  background-color: transparent;
}

.button {
  border: 1.5px solid #E29578;
  background-color: #E29578 !important;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 12px;
  margin:10px 0 10px 0;
  font-weight: bold;
}

.button:hover {
  background-color: #FFDDD2 !important;
  border: 1.5px solid #FFDDD2;
}

.button:active {
  border: 1.5px solid #FFDDD2 !important;
  background-color: #FFDDD2 !important;
  color: rgb(255, 255, 255);
}

input {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}

.auth-container-box {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;
  background-color: #EDF6F9;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  height:350px;
  padding: 20px;
}

.auth-options {
  display: flex;
}

.auth-options button {
  width: 50%;
  border: none;
  padding: 10px;
  color: rgb(35, 38, 47);
}
.auth-info {
  margin: 10px;
  text-align: center;
}
.page-header {
  color: #EDF6F9;
  text-align: center;
  font-size: 45px;
}