.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
width: 60%;
}

.contact-text{

    width: 70%;
    height: 90px;

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    margin: 20px;
    text-align: center;
    text-transform: capitalize;

    color: #EDF6F9;

}
.contact-text p{
    margin: 0;
}
.field-input{
    width: 100%;
    height: fit-content;

    background: #EDF6F9;
    border-radius: 50px;
padding: 20px 30px 20px 30px;

}

.field-input p {
    margin: 0;
}
.text-email p{


    width: fit-content;
    height: auto;


    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 90px;

    text-transform: capitalize;

    color: #000000;

}
.comment{


    width: 328px;
    height: auto;


    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 90px;

    text-transform: capitalize;

    color: #000000;


}
.email{

    box-sizing: border-box;



    height: 89px;

    width: 100%;
    background: #EDF6F9;
    border: 1px solid #ccc;
    border-radius: 50px;

}
.comment-input{


    box-sizing: border-box;



    height: 250px;
    width: 100%;

    background: #EDF6F9;
    border: 1px solid #ccc;
    border-radius: 50px;

}

.send:active {

    border: 1.5px solid #FFDDD2 !important;
    background-color: #FFDDD2 !important;
    color: rgb(255, 255, 255);
}

.send:hover {

    background-color: #FFDDD2 !important;
    border: 1.5px solid #FFDDD2;
}
.send {
    width: 100%;
    height: 70px;
    align-items: center;
    background: #E29578;
    border-radius: 50px;
    border: none;
    margin: 20px 0;
    display: grid;
    place-items: center;
}

.send p {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #EDF6F9;
    margin: 0;
}

.send:active {
    border: 1.5px solid #FFDDD2 !important;
    background-color: #FFDDD2 !important;
    color: rgb(255, 255, 255);
}

.send:hover {
    background-color: #FFDDD2 !important;
    border: 1.5px solid #FFDDD2;
}

.email,
.comment-input {
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Outfit';
    font-size: 18px;
}

.email {
    height: 70px;
    width: 100%;
    background: #EDF6F9;
    border: 1px solid #ccc;
    border-radius: 100px;
}

.comment-input {
    height: 150px;
    width: 100%;
    background: #EDF6F9;
    border: 1px solid #ccc;
    border-radius: 50px;
    resize: none;
}
