header {
    width: auto;
    height: 85px;
    display: flex;
    margin: 0;
    flex-shrink: 0;
    flex-direction: column;
}
body{
    background: #83C5BE;
}

.h-top {
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    top: 0;
    background: #006D77;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-top h2 {
    height: 56px;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 1.2;
    color: #EDF6F9;
    margin-left: 2%;
}

ol.h-nav-menu  {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    list-style: none;
    user-select: none;
    justify-content: space-around;
    gap: 78.01px;
}

.header-link {
    text-decoration: none;
    outline: none;
    color: #EDF6F9;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;

}
.header-link-logo {
    margin-left: 20px;
}

ol.h-nav-menu li {
    height: 45px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.icon {
    width: 108px;
    height: 43.09px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    color: #EDF6F9;
    list-style: none;
    user-select: none;
    gap: 24px;
    padding-right: 20px;
}

.icon-login:hover {
    transform: scale(1.2);
}
.icon-search:hover{
    transform: scale(1.2);
}
.icon-search:active{
    transform: scale(0.95);
}
.icon-login:active {
    transform: scale(0.95);
}
.icon-search,
.icon-login {
    width: 3vw;
    height: 3vw;
    fill: #fff;
    transition: transform 0.1s;
}
.footer-container {
    background: #006D77;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

footer p {
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    color: #EDF6F9;
}

.search-bar {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100%;
    max-width: 300px;
    z-index: 1000;
    background: white;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.search-bar input {
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.social p{



    width: 155px;
    height: 45px;
    left: 858px;
    top: 37px;
    align-items: center;
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;

    color: #EDF6F9;


}

.media-container {
    display: flex;
    justify-content: space-between;
}
.tik-tok{


    width: 46px;
    height: 50px;
    left: 1030px;
    top: 65px;
    margin: 5px;
}
.instagram{


    width: 46px;
    height: 50px;
    left: 1100px;
    top: 65px;
    margin: 5px;
}
.facebook{

    width: 46px;
    height: 50px;
    left: 1170px;
    top: 65px;
    margin: 5px;
}
.youtube{

    width: 46px;
    height: 50px;
    left: 1240px;
    top: 65px;
    margin: 5px;
}

 .social {
     display: flex;
     align-items: center;
 }


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background:  #EDF6F9;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content form > div {
    margin-bottom: 10px;
}

.modal-content form > div > label {
    display: block;
    margin-bottom: 5px;
}

.modal-content form > div > input,
.modal-content form > div > textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modal-content h3 {
    margin-top: 20px;
}

.modal-content button {
    margin-right: 10px;
}


.message-box {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.message-box.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message-box.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


