#root {
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    background-color: #EDF6F9;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 250px;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
    height: fit-content;

}
.single-container {
    width: 90%;
    display: flex;
    position: relative;
    background-color: #EDF6F9;
    max-height: fit-content;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
    border: 1px solid #ccc;
}



.info-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #EDF6F9;

    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}
.single-image {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: 20px;
    border: 1px solid #ccc;
}

.movie-item .leaflet-container {
    height: 400px;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
}
.favourite-button {
    border: 1.5px solid #E29578;
    background-color: #E29578 !important;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 12px;
    margin:10px 0 10px 0;

    font-size: 20px;
    font-weight: bold;
}

.favourite-button:hover {
    background-color: #FFDDD2 !important;
    border: 1.5px solid #FFDDD2;
}

.favourite-button:active {
    border: 1.5px solid #FFDDD2 !important;
    background-color: #FFDDD2 !important;
    color: rgb(255, 255, 255);
}
.title-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


.link {
    text-decoration: none;
    color: black;
}
.title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;


}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.infoItem {
    display: flex;
    font-size: 20px;
}

.label {
    font-weight: bold;
    margin: 10px;

}

.value {
    margin: 10px;

}

.image {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 20px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .image {
        width: 50%;
    }
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-container input, textarea {
    width: 80%;
}
